.nav {
    grid-area: n;
    background-color: #a4d5a8;
    padding: 20px;
}

.nav div {
    margin: 10px 0;
}

.nav a {
    color: #000000;
    text-decoration: none;
}

.nav a.active {
    color: darkgoldenrod;
    font-weight: bold;
}