.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {

}

.dialog a {
    text-decoration: none;
}

.dialogsItems .active{
    color: plum;
    font-weight: bold;
}

.messages {

}